################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TurtleChallenge/.vs/TurtleChallenge/v15
/TurtleChallenge/obj/Debug
/TurtleChallenge.Console/obj/Debug
/TurtleChallenge/TurtleChallenge.CrossCutting/obj/Debug
/TurtleChallenge/TurtleChallenge.Data/obj/Debug
/TurtleChallenge/TurtleChallenge.Domain/obj/Debug
/TurtleChallenge/.vs/config
/TurtleChallenge/packages
/TurtleChallenge/TurtleChallenge.CrossCutting/bin/Debug
/TurtleChallenge/TurtleChallenge.Data/bin/Debug
/TurtleChallenge/TurtleChallenge.Domain/bin/Debug
/TurtleChallenge/TurtleChallenge.Test/bin/Debug
/TurtleChallenge/TurtleChallenge.Test/obj/Debug
/TurtleChallenge.Console/bin/Debug
